*{
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}
/* header section style */
header{
  background-image: url("../images/banner/banner2.png");
  height: 809px;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.banner{
  position: absolute;
  right: 230px;
  top: 216px;
  width: 525px;
  text-align: right;
}
.banner-title{
  font-size: 65px;
  font-family: 700;
  margin-bottom: 24px;
  color: #151414;
}
.banner-description{
  font-size: 16px;
  text-align: right;
  color: #444343;
  line-height: 26px;
  margin-bottom: 32px;
}
.header-btn{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding: 20px 25px;
  background: #F15B22;
  border-radius: 5px;
  border: none;
}
/* What i do section style */
.what-i-do .section-description{
  padding: 0 157px 50px 156px;
}
.section-title{
  margin: 130px 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}
.section-description{
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #757575;
  text-align: center;
}
.skills-container{
  display: flex;
  gap: 24px;
  margin: 0 120px;
}
.skill{
  background: #FFFFFF;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}
.skill img{
  margin-bottom: 30px;
}
.skill-title{
  font-weight: 700;
  font-size: 20px;
  color: #181818;
  margin-bottom: 20px;
}
.sill-description{
  font-weight: 400;
  font-size: 16px;
  color: #757575;
  line-height: 28px;
}
/* main-section-failur style */
.failur-section{
  display: flex;
  gap: 87px;
  width: 1072px;
  height: 723px;
  margin: 130px 322px 130px 206px;
}
.picture{
width: 569px;

}
.details-title{
  font-size: 40px;
  font-weight: 700;
  margin-top: 250px;
  margin-bottom: 24px;
  line-height: 47px;
  color: #151414;


}
.details-description{
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 16px;
}
.details ul{
  list-style: none;
  font-size: 16px;
  line-height: 26px;
  color: #444343;

}
.details ul i{
  color: #16D887;
}
/* main-my-plan-scetion style */
.section{
  width: 1141px;
  height: 300px;
  margin: 130px 230px 130px 180px;
}
.plan-title{
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  text-align: center;
  margin-bottom: 50px;
}
.plans{
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
}
.plan-item{
  text-align: center;
}
.plan-item img{
  margin-bottom: 24px;
}
.plan-item-title{
  font-weight: 700;
  font-size: 30px;
  color: #151414;
}
.plan-item-description{
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}
/* main-gradiant-section style */

.gradiant{
  background-image: linear-gradient(to right, #F15B22 0%, #f15b2200 100%),url("../images/watch.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin:130px 230px 150px 130px;
  width: 1140px;
  height: 300px;
  border-radius: 8px;
  padding: 60px 64px;
}
.gradiant-title{
  width: 459px;
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.grd-btn{ 
background: #FFFFFF;
border-radius: 5px;
font-weight: 600;
font-size: 20px;
text-align: center;
color: #F15B22;
padding: 21px 36px;
}
/* footer section-right style */
footer{
  display: flex;
  gap: 331px;
  width: 1040px;
  padding: 130px 230px;
  background: #151414;
}
.contact-left{
  width: 485px;
}
.contact-title{
  font-weight: 700;
  font-size: 45px;
  color: #F8F8F8;
  margin-bottom: 16px;
}
.contact-description{
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.email{
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.phone{
  font-size: 16px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
/* footer section left style */
.contact-left a{
  margin-right: 17px;
}
.contact-right-title{
  font-weight: 600;
  font-size: 25px;
  color: #FFFFFF;
  margin-bottom: 31px;
}
.contact-right input{
padding: 21px;
font-size: 18px;
color: #F3F3F3;
background: #151414;
border-radius: 5px;
margin-bottom: 16px;
}